.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  height: 5rem;
  background-color: #38bdf8;
}

.navLinks {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  font-size: 1.5rem;
  color: white;
  height: 100%;
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a,
.navigation a {
  text-decoration: none;
  color: white;
}

.button {
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .logo {
    font-size: 1rem;
    color: white;
  }

  .button {
    margin-right: 1rem;
  }
}
