.btn {
  border: 1px solid transparent;
  background-color: #228be6;
  color: #fff;
  height: 2rem;
  font-family: inherit;
  display: inline-block;
  width: auto;
  border-radius: 0.25rem;
  position: relative;
  line-height: 1;
  font-size: 1rem;
  user-select: none;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  appearance: none;
}

.btn:hover,
.btn:active {
  background-color: #1c7ed6;
}
